# --- Personal ---
Todo.txt
Projects/

# --- General Compiled Files ---
main
*.exe
*.app
*.class
*.o
*.obj
bin/
build/
target/
dist/
out/

# --- JavaScript / Node / TypeScript ---
node_modules/
.pnpm-debug.log*
*.tsbuildinfo

# --- Python ---
env/
venv/
.env/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# --- Environment & Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.env
*.env.*
!*.env.example

# --- Databases ---
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# Build Tools
.gradle/
build/
target/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- OS Specific ---
.DS_Store
Thumbs.db
desktop.ini
