<h2>Register</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <input formControlName="name" placeholder="Name" />
  @if (form.get('name')?.invalid && form.get('name')?.touched) {
    <small>Name required</small>
  }

  <br />

  <input formControlName="email" placeholder="Email" />
  @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <small>Invalid email</small>
  }

  <br />

  <input type="password" formControlName="password" placeholder="Password" />
  @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <small>Password min 6 chars</small>
  }

  <br />

  <button [disabled]="form.invalid">Register</button>
</form>
