* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: #900000;
  }
}

body {
  background-color: #aaa;
  font-size: 150%;
}

.content {
  width: 100%;
  border-spacing: 0;
}

.content tr {
  width: 100%;
}

.header {
  height: 35vh;
  background-image: url("./images/welcome.jpg");
  background-size: cover;
  background-position: center;
}

.nav {
  padding: 1rem;
  text-align: center;
}

.nav a {
  font-size: 1.5rem;
  margin: 0 2rem;
}

.aside,
.main {
  vertical-align: top;
}

.aside {
  width: 20%;
  background-color: #ccc;
}

.aside-one {
  padding: 0 1rem;
}

.aside-one div {
  padding: 2rem 1rem;
}

.aside-one .form,
.aside-one .social {
  border-bottom: 2px solid black;
}

.aside-one .form input {
  display: block;
  width: 100%;
  max-width: 15rem;
  font-size: 1rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  outline: none;
}

.aside-one .form button {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

.aside-one .social {
  text-align: center;
  color: white;
}

.aside-one .social img {
  display: block;
  margin: auto;
  width: 3rem;
}
.aside-one .social a:first-of-type img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aside-one .video iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
}

.aside-two div {
  padding: 2rem 0;
  border-bottom: 2px solid black;
}

.aside-two img {
  display: block;
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

.aside-two p {
  text-align: center;
  padding: 4rem 0;
}

.main {
  min-width: 60%;
  padding: 2rem;
  background-color: #eee;
}

.main h2 {
  font-size: 3rem;
  color: #900000;
  text-align: center;
  margin-bottom: 2rem;
}

.main ul,
.main ol {
  margin-left: 4rem;
}

.footer {
  text-align: center;
  padding: 2rem;
}

.footer p {
  color: #900000;
}
